<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692836022863-7c5o5mv521arfbhl0ri8sk41v5v06749.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692836022863-7c5o5mv521arfbhl0ri8sk41v5v06749</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692836022863-jsfeqp2rl5hdf41ntntq25jqmntadnmc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTCB7uHc73WAZTdg_1O3qSZFImQc-QEU0</string>
	<key>GCM_SENDER_ID</key>
	<string>692836022863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahaye.app</string>
	<key>PROJECT_ID</key>
	<string>sahaya-c8632</string>
	<key>STORAGE_BUCKET</key>
	<string>sahaya-c8632.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692836022863:ios:d2ca4c85ad182b3b2e883a</string>
</dict>
</plist>